In [1]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd
import numpy as np
from scipy import stats

import matplotlib
import matplotlib.pyplot as plt

import seaborn as sns
sns.set_style('darkgrid')

%config InlineBackend.figure_format = 'retina'

# Turnning on plotting display in the notebook
%matplotlib inline

plt.style.use('fivethirtyeight')

In [2]:
Game = pd.read_json('Pandas_purchase_data_GW.json')
Game.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#Game['Price_N'] = (Game.Price - Game.Price.mean()) / (Game.Price.max() - Game.Price.min())
Game['Price_N'] = (Game.Price - Game.Price.mean()) / Game.Price.std()

In [4]:
print('\033[1m')
print('Total Number of Players:')
print('\033[0m')
print(len(Game['SN'].unique()))

Total Number of Players:

573

In [5]:
# Purchasing Analysis (Total)

print('\033[1m', 'Number of unique Items:  ', '\033[0m', len(Game['Item ID'].unique()))
print('\033[1m', 'Average Purchase Price: $', '\033[0m', Game.Price.mean())
print('\033[1m', 'Total Number of Purchases:', '\033[0m',  Game.Price.shape)
print('\033[1m', 'Total Revenue: $', '\033[0m', Game.Price.sum())

 Number of unique Items:    183
 Average Purchase Price: $  2.931192307692303
 Total Number of Purchases:  (780,)
 Total Revenue: $  2286.33

In [6]:
# print(f"Number of unique Items: {len(Game['Item ID'].unique())}")

In [7]:
# Gender Demographics 

Game_FT_G = pd.crosstab(index=Game['Gender'], 
            columns='count')
print('\033[1m', 'Count of Players Based on Gender:', '\033[0m', '\n', Game_FT_G)
print('\n')
print('\033[1m', 'Percentage of Players Based on Gender:', '\033[0m', '\n', Game_FT_G/Game_FT_G.sum())

 Count of Players Based on Gender:
 col_0                  count
Gender
Female                   136
Male                     633
Other / Non-Disclosed     11


 Percentage of Players Based on Gender:
 col_0                     count
Gender
Female                 0.174359
Male                   0.811538
Other / Non-Disclosed  0.014103

In [8]:
# Purchasing Analysis (Gender)

print('\033[1m', 'Average Purchase Price - Gender:', '\033[0m')
print('Male:   $', Game[Game.Gender == 'Male'].Price.mean()) 
print('Female: $', Game[Game.Gender == 'Female'].Price.mean()) 
print('Others: $', Game[Game.Gender == 'Other / Non-Disclosed'].Price.mean()) 
print('\n')
print('\033[1m', 'Total Purchase value - Gender:', '\033[0m')
print('Male: $', Game[Game.Gender == 'Male'].Price.sum()) 
print('FeMale: $', Game[Game.Gender == 'Female'].Price.sum()) 
print('Others: $', Game[Game.Gender == 'Other / Non-Disclosed'].Price.sum()) 
print('\n')

 Average Purchase Price - Gender:
Male:   $ 2.9505213270142154
Female: $ 2.815514705882352
Others: $ 3.2490909090909086


 Total Purchase value - Gender:
Male: $ 1867.68
FeMale: $ 382.90999999999997
Others: $ 35.739999999999995

In [9]:
# Purchasing Analysis (Gender)

#print('\033[1m', 'Normalized Totals:', '\033[0m')
#print('Male: $', (Game[Game.Gender == 'Male'].Price.sum() 
# - Game[Game.Gender == 'Male'].Price.mean()) / (Game[Game.Gender == 'Male'].Price.max() 
#                                                - Game[Game.Gender == 'Male'].Price.min()))
#print('Female: $', (Game[Game.Gender == 'Female'].Price.sum() 
# - Game[Game.Gender == 'Female'].Price.mean()) / (Game[Game.Gender == 'Female'].Price.max() 
#                                                - Game[Game.Gender == 'Female'].Price.min()))
#print('Others: $', (Game[Game.Gender == 'Other / Non-Disclosed'].Price.sum() 
# - Game[Game.Gender == 'Other / Non-Disclosed'].Price.mean()) / (Game[Game.Gender == 'Other / Non-Disclosed'].Price.max() 
#                                                - Game[Game.Gender == 'Other / Non-Disclosed'].Price.min()))

In [10]:
#print('\033[1m', 'Normalized Totals:', '\033[0m')
#print('Male:   $', Game[Game.Gender == 'Male'].Price_N.sum()) 
#print('Female: $', Game[Game.Gender == 'Female'].Price_N.sum()) 
#print('Others: $', Game[Game.Gender == 'Other / Non-Disclosed'].Price_N.sum())

In [11]:
#AgeGroup = pd.cut(Game.Age, (Game.Age.max() - Game.Age.min())/4)
#Game['AgeGroup'] = Game.apply(lambda _: '', axis=1)
#Game.AgeGroup = AgeGroup
#Game = Game[['Age', 'AgeGroup', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN']]
#print('Count of Players Based on AgeGroup:', '\n', Game.AgeGroup.value_counts())
#print('\n')
#print('Average Purchase Price - AgeGroup:')
#print('19.667, 23.889 ', Game[Game.AgeGroup == '19.667, 23.889'].Price.mean()) 
#print('23.889, 28.111 ', Game[Game.AgeGroup == '23.889, 28.111'].Price.mean()) 
#print('15.444, 19.667 ', Game[Game.AgeGroup == '15.444, 19.667'].Price.mean()) 
#print('\n')

In [9]:
# Age Demographics

bins = [7, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]
bins_names = ['<=10', '11-14', '15-18', '19-22', '23-26', '27-30', '31-34', '35-38', '39-42', '>42']

pd.cut(Game.Age, bins, labels=bins_names)
Game['AgeGroup'] = pd.cut(Game['Age'], bins, labels=bins_names)

print('\033[1m', 'Count of Players Based on AgeGroup:', '\033[0m')
print(Game.AgeGroup.value_counts())
print('\n')
print('\033[1m', 'Average Purchase Price - AgeGroup:', '\033[0m')
print('<=10 ', Game[Game.AgeGroup == '<=10'].Price.mean())
print('11-14 ', Game[Game.AgeGroup == '11-14'].Price.mean()) 
print('15-18 ', Game[Game.AgeGroup == '15-18'].Price.mean()) 
print('19-22 ', Game[Game.AgeGroup == '19-22'].Price.mean()) 
print('23-26 ', Game[Game.AgeGroup == '23-26'].Price.mean()) 
print('27-30 ', Game[Game.AgeGroup == '27-30'].Price.mean()) 
print('31-34 ', Game[Game.AgeGroup == '31-34'].Price.mean()) 
print('35-38 ', Game[Game.AgeGroup == '35-38'].Price.mean()) 
print('39-42 ', Game[Game.AgeGroup == '39-42'].Price.mean()) 
print('>42 ', Game[Game.AgeGroup == '>42'].Price.mean()) 
print('\n')
print('\033[1m', 'Total Purchase Value - AgeGroup:', '\033[0m')
print('<=10 ', Game[Game.AgeGroup == '<=10'].Price.sum())
print('11-14 ', Game[Game.AgeGroup == '11-14'].Price.sum()) 
print('15-18 ', Game[Game.AgeGroup == '15-18'].Price.sum()) 
print('19-22 ', Game[Game.AgeGroup == '19-22'].Price.sum()) 
print('23-26 ', Game[Game.AgeGroup == '23-26'].Price.sum()) 
print('27-30 ', Game[Game.AgeGroup == '27-30'].Price.sum()) 
print('31-34 ', Game[Game.AgeGroup == '31-34'].Price.sum()) 
print('35-38 ', Game[Game.AgeGroup == '35-38'].Price.sum()) 
print('39-42 ', Game[Game.AgeGroup == '39-42'].Price.sum()) 
print('>42 ', Game[Game.AgeGroup == '>42'].Price.sum()) 
print('\n')

 Count of Players Based on AgeGroup:
19-22    231
23-26    207
15-18    111
27-30     63
31-34     46
35-38     37
11-14     31
39-42     20
<=10      13
>42        2
Name: AgeGroup, dtype: int64


 Average Purchase Price - AgeGroup:
<=10  3.1653846153846152
11-14  2.7029032258064514
15-18  2.876756756756757
19-22  2.927272727272728
23-26  2.9372946859903397
27-30  2.983968253968254
31-34  3.0704347826086953
35-38  2.8124324324324323
39-42  3.128000000000001
>42  3.2649999999999997


 Total Purchase Value - AgeGroup:
<=10  41.15
11-14  83.78999999999999
15-18  319.32000000000005
19-22  676.1999999999998
23-26  608.02
27-30  187.99
31-34  141.24
35-38  104.05999999999999
39-42  62.56
>42  6.529999999999999

In [10]:
# Top Spenders

Top_Spenders_Total = Game.groupby(['SN']).sum()['Price'].rename('Total_Purchase_Value')
Top_Spenders_Count = Game.groupby(['SN']).count()['Price'].rename('Total_Purchase_Count')
Top_Spenders_Average = Game.groupby(['SN']).mean()['Price'].rename('Average_Purchase_Price')

Top_Spenders = pd.DataFrame({'Total_Purchase_Value': Top_Spenders_Total,
                          'Total_Purchase_Count': Top_Spenders_Count,
                          "Average_Purchase_Price": Top_Spenders_Average})

Top_Spenders.sort_values('Total_Purchase_Value', ascending=False).head(5)

,Average_Purchase_Price,Total_Purchase_Count,Total_Purchase_Value
SN,,,
Undirrala66,3.412000,5,17.06
Saedue76,3.390000,4,13.56
Mindimnya67,3.185000,4,12.74
Haellysu29,4.243333,3,12.73
Eoda93,3.860000,3,11.58

In [14]:
# Most Popular Items**

#Identify the 5 most popular items by purchase count, then list (in a table):
  # Item ID
  # Item Name
  # Purchase Count
  # Item Price
  # Total Purchase Value

In [11]:
Game.head()

,Age,Gender,Item ID,Item Name,Price,SN,Price_N,AgeGroup
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,0.393274,35-38
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,-0.547771,19-22
2,34,Male,174,Primitive Blade,2.46,Assastnya25,-0.422299,31-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,-1.408156,19-22
4,23,Male,63,Stormfury Mace,1.27,Aela59,-1.488817,23-26

In [ ]:
Most_Popular_Item = Game.groupby(['Item ID']).count()
Popular_Item = pd.DataFrame({'Purchase_Count': Most_Popular_Item})
Most_Popular_Item.head()

In [13]:
#.sort_values(ascending = False)
#Most_Popular_Item = Game.groupby('Item ID')['Item ID'].count()
#Most_Popular_Item

Most_Popular_Item = Game.groupby(['Item ID', 'Item Name', 'Price'])['Item ID'].count()
Popular_Item = pd.DataFrame({'Purchase_Count': Most_Popular_Item})
Popular_Item.head()

                                  Purchase_Count
Item ID Item Name          Price
0       Splinter           1.82                1
1       Crucifer           2.28                4
2       Verdict            3.40                1
3       Phantomlight       1.79                1
4       Bloodlord's Fetish 2.28                1

In [14]:
Popular_Item = pd.DataFrame({'Purchase_Count': Most_Popular_Item})
Popular_Item.head()

                                  Purchase_Count
Item ID Item Name          Price
0       Splinter           1.82                1
1       Crucifer           2.28                4
2       Verdict            3.40                1
3       Phantomlight       1.79                1
4       Bloodlord's Fetish 2.28                1

In [15]:
Popular_Item.dtypes

Purchase_Count    int64
dtype: object

In [20]:
#pd.merge(Game, Popular_Item, on="Item Name")

#Popular_Item.describe

#Popular_Item.set_index("Item Name")

#Popular_Item.head()

In [ ]:
pd.merge(Game, Popular_Item, on="Item Name")

In [ ]:
pd.merge(Game, Popular_Item, on="Item ID")